@model IEnumerable<BugManagement.Data.Models.BugType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-3 navigator">
    <ul class="nav nav-list">
        <li class="">
            <a href="Dashboard">Dashboard</a>
        </li>
        <li class="">
            <a href="#">Bugs</a>
        </li>
        <li class="">
            <a href="Project">Projects</a>
        </li>
        <li class="">
            <a href="Developer">Developers</a>
        </li>
        <li class="">
            <a href="User">Users</a>
        </li>
    </ul>
</div>
<div class="col-md-9">
    <h2>
        Bug Type
        <button type="button" class="btn btn-primary pull-right">Create New</button>
    </h2>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Main Contact</th>
                <th>Contact Email</th>
                <th>Start Time</th>
                <th>Operations</th>
            </tr>
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.Id</td>
                    <td>@project.Name</td>
                    <td>@project.Description</td>
                    <td>@project.MainContact</td>
                    <td>@project.ContactEmail</td>
                    <td>@project.StarTime</td>
                    <td>
                        <a href="#">Details</a>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>