@model BugManagement.Models.UserListViewModel
@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    ViewBag.Title = "User";
}
<div class="row col-md-10 col-md-offset-1">
    <div class="divbolder-nav col-md-2">
        <ul class="nav-ul">
            <a href="@Url.Action("Index","Dashboard")"><li>Dashboard</li></a>
            <a href="@Url.Action("Index","Bug")"><li>Bugs</li></a>
            <a href="@Url.Action("Index","Project")"><li>Projects</li></a>
            <a href="@Url.Action("Index","Developer")"><li>Developers</li></a>
            <a href="@Url.Action("Index","User")"><li class="li-active">Users</li></a>
        </ul>
    </div>
    @using (Html.BeginForm("Query", "User", FormMethod.Post, new { role = "form", id = "myListform" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-10">
            <div class="page-header">
                <h2>User</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.whereCondition, new { @class = "form-control", placeholder = "Input any text you want to search..." })
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group pull-right">
                            <button class="btn btn-success" type="button" id="btnCreate" data-toggle="modal" data-target="#myCreateModal">Create New</button>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.modelList != null && Model.modelList.Count() > 0)
            {
                <div class="pull-left width-all">
                    <table class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>FristName</th>
                                <th>LastName</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Type</th>
                                <th>RegisterTime</th>
                                <th>LastLoginTime</th>
                                <th>Status</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usermodel in Model.modelList)
                            {
                                <tr>
                                    <td>@usermodel.UserId</td>
                                    <td>@usermodel.FristName</td>
                                    <td>@usermodel.LastName</td>
                                    <td>@usermodel.Email</td>
                                    <td>@usermodel.Password</td>
                                    <td>@usermodel.Type</td>
                                    <td>@usermodel.RegisterTime</td>
                                    <td>@usermodel.LastLoginTime</td>
                                    <td>@usermodel.Status</td>
                                    <td>
                                        <a data-value="@usermodel.UserId" data-toggle="modal" data-target="#myCreateModal" class="selectEdit text-success a-cursor">Edit </a>
                                        <a data-value="@usermodel.UserId" data-toggle="modal" data-target="#myDeleleModal" class="selectDelete text-success a-cursor">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <nav>
                        <ul class="pagination">
                            @if (Model.pagingInfo.HasPrev)
                            {
                                <li><a href="#" name="submit" onclick="myformListSubmit(@Model.pagingInfo.PageIndex - 1); return false">Previous</a></li>
                            }
                            else
                            {
                                <li><a href="#">Previous</a></li>
                            }
                            @if (Model.pagingInfo.PageCount >= 1)
                            {
                                for (int index = 1; index <= Model.pagingInfo.PageCount; index++)
                                {
                                    if (index == Model.pagingInfo.PageIndex)
                                    {
                                        <li class="active">
                                            <a href="#" name="submit" onclick="myformListSubmit(@index); return false">@index</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a href="#" name="submit" onclick="myformListSubmit(@index); return false">@index</a></li>
                                    }
                                }
                            }
                            @if (Model.pagingInfo.HasNext)
                            {
                                <li><a href="#" name="submit" onclick="myformListSubmit(@Model.pagingInfo.PageIndex + 1); return false">Next</a></li>
                            }
                            else
                            {
                                <li><a href="#">Next</a></li>
                            }
                        </ul>
                    </nav>                   
                </div>
            }
        </div>
    }
</div>

@Html.Partial("_CreateUser", Model.model);

@section Scripts{
    <script src="~/js/user.js"></script>
}



